<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>t h u n d e r t r a c k s</title>
  <link href="https://fonts.googleapis.com/css?family=Geo|Press+Start+2P|VT323&display=swap" rel="stylesheet">
</head>

<body class="bg-light">
  <div class="container bg-light">
    <div class="row jumbotron bg-light">
      <h2>t h u n d e r t u n e s</h2>
      </h2>
      <hr>


    </div>
    <div class="row m-2">
      <nav class="nav justify-content-center navbar-expand-lg navbar-light bg-light col-12">
        {{!-- <a class="navbar-brand" href="/index">Navbar</a> --}}
        {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> --}}


        <ul class="nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link dark" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newtrack">New Track</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>



      </nav>
    </div>
    {{{body}}}
</body>

</html>