<div id="home" class="bg-light">
  <div class="container bg-light">

    <div class="row">
      <div class="col-12">

        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="card-title m-2">all the ripples</h3>
          </div>
          <div class="card-body bg-light rounded-0">

            <ul id="example-list" class="list-group rounded-0">
              {{#each tracks}}
              <li data-id="{{this.dataValues.id}}" class="list-group-item border-light bg-light rounded-0">
                <a href="track/{{this.dataValues.id}}"> {{this.dataValues.title}}</a>
                {{!-- <button class="btn btn-light  float-right delete rounded-0">ｘ</button> --}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>