.list-group-item {
  line-height: 2.5;
}

.body {
  font-family: sans-serif;
  font-size: 100%;
  
}

a {
  color: black;
}

* {
  /* font-family: 'VT323', monospace !important; */
  /* font-family: 'Press Start 2P', monospace !important; */
  font-family: 'Geo', monospace !important;

}